/* Common styles */
.swiper-slide-transform {
  transition: all 0.5s ease;
}

.swiper-slide {
  transition: all 0.5s ease;
  height: auto !important;
  padding: 15px 0;
}

@media (min-width: 640px) {
  .swiper-slide {
    padding: 20px 0;
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    padding: 30px 0;
  }
}

.swiper-wrapper {
  align-items: center;
  padding: 20px 0;
}

/* Navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #4f46e5 !important;
  display: none !important;
}

@media (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
  }
}

/* Pagination */
.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: #4f46e5 !important;
}

/* Container */
.swiper-container {
  overflow: visible !important;
  padding: 20px 0;
}

@media (min-width: 640px) {
  .swiper-container {
    padding: 30px 0;
  }
}

@media (min-width: 1024px) {
  .swiper-container {
    padding: 40px 0;
  }
}